
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
    gap: 15px;
    align-items: center;
}

.nav-bar button{
    width: 30px;
    height: 23px;
    cursor: pointer;
}

.nav-bar button img{
    width: 15px;
    height: 15px;
}

p::first-letter{
    color: red;
}

.site-title{
    margin-left: 30px;
    text-decoration: none;
    color: inherit;
}

.site-title:hover{
    color: #535353;
}

.ulWithList {
    
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    color: inherit;
    list-style: none;
}

.ulWithList a {
    text-decoration: none;
    color: #6b6b6b;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 400ms ease;
    padding: 10px;
    margin: 2.2px;
    border-radius: 10px;
    font-weight: bold;
    
}

.ulWithList a:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transform: translateY(-3%);
    color: #535353;;
}


#btn {
    margin-top: 10px;
    color: rgb(105, 238, 105);
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    margin: 2.2px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    transition: all 400ms ease;
}

#btn:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-3%);   
}